body {
  background-image: url('https://as2.ftcdn.net/v2/jpg/03/28/01/91/1000_F_328019116_Z9GSCX3faWm1JYuf6BwUqQaPZ9mo803Y.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Ensure no default margin */
}

#multi-step-form {
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
}

#container {
  max-width: 550px;
  margin: auto; /* Center the container */
}

.step-container {
  position: relative;
  text-align: center;
  transform: translateY(-43%);
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #006400;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #006400;
}

.step-line {
  position: absolute;
  top: 16px;
  left: 50px;
  width: calc(100% - 100px);
  height: 2px;
  background-color: #006400;
  z-index: -1;
}

.btn-outline-primary {
  color: #006400;
  border-color: #006400;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #006400;
  border-color: #006400;
}

.btn-primary {
  background-color: #006400;
  border-color: #006400;
}

.btn-primary:hover {
  background-color: #004d00;
  border-color: #004d00;
}

.progress-bar {
  background-color: #006400;
}

.btn-outline-primary.btn-main-page {
  background-color: #e6ffe6;
  border-color: #004d00;
  color: #004d00;
}

.btn-outline-primary.btn-main-page:hover {
  background-color: #ccebcc;
  color: #003300;
}
